NodeRED/flows.common.json
[
    {
        "id": "d4e0e8c3f2521d41",
        "type": "tab",
        "label": "Common",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a5bfae5139cedd9",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6f8bc5993aec1aca",
            "1488f86cd1caf9fe",
            "1572d0374092139d",
            "0b4e75eb8ac57b19"
        ],
        "x": 194,
        "y": 99,
        "w": 592,
        "h": 122
    },
    {
        "id": "ba76672f0e3813ee",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae41f3f0d2d31239",
            "1ff76b2608973970",
            "ab27628acf8c6210",
            "2d7a2df0a47d38ea"
        ],
        "x": 194,
        "y": 239,
        "w": 612,
        "h": 122
    },
    {
        "id": "8c568f69d68b58f4",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32fc017627949b6b",
            "cd086bb42fc9cb71",
            "0d9585d6a791bdec",
            "0cf98de83a07c843",
            "5a5bfae5139cedd9",
            "ba76672f0e3813ee"
        ],
        "x": 14,
        "y": 19,
        "w": 1122,
        "h": 368
    },
    {
        "id": "10467d58cb5fe3da",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ffa0b5bfa42784ac",
            "8183d1226cb9d013",
            "b69bf2987c251cb0",
            "33aae0814662b00d",
            "93aafe4af9d32c6a",
            "c9cda38b79826fa8"
        ],
        "x": 14,
        "y": 399,
        "w": 712,
        "h": 162
    },
    {
        "id": "25b15aabc362426e",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fc4bc15fd7dd1843",
            "96e6dc441ab89d4e",
            "84d325e4c37e0885",
            "5203081cfa4cf947",
            "7e1d4e1bf22a9228",
            "176d24bc1a7bf1de",
            "a74b93f6136d6543"
        ],
        "x": 14,
        "y": 579,
        "w": 932,
        "h": 122
    },
    {
        "id": "32fc017627949b6b",
        "type": "inject",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "6f8bc5993aec1aca"
            ]
        ]
    },
    {
        "id": "ae41f3f0d2d31239",
        "type": "http request",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "cfc29aa6332ee951",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "1ff76b2608973970"
            ]
        ]
    },
    {
        "id": "1ff76b2608973970",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "SaveCid",
        "func": "const settings = global.get('settings');\nsettings.mqttCid = JSON.parse(msg.payload).uuid;\nglobal.set('settings', settings);\nmsg.payload = settings;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "ab27628acf8c6210"
            ]
        ]
    },
    {
        "id": "cd086bb42fc9cb71",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "Load Local Settings",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "ffa0b5bfa42784ac",
        "type": "debug",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "broker",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "8183d1226cb9d013",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "ConnectMQTT",
        "func": "msg.action = \"connect\";\n\nconst CID = global.get('settings').mqttCid;\nconst USERNAME = global.get('settings').mqttUname;\n\nconst setting = {\n    \n    // Basic host setting\n    \"broker\": global.get('mqtt-broker'),\n    \"port\": global.get('mqtt-port'),\n    \"clientid\": CID,\n    \n    // Boolean setting\n    \"force\": true,\n    \n    // Birth setting\n    \"birthTopic\": `users/${USERNAME}/${CID}/conn`,\n    \"birthQos\": \"1\",\n    \"birthRetain\": \"true\",\n    \"birthPayload\": `Device connected`,\n    \n    // Close setting\n    \"closeTopic\": `users/${USERNAME}/${CID}/disconn`,\n    \"closeQos\": \"1\",\n    \"closeRetain\": \"true\",\n    \"closePayload\": `Device disconnected`,\n\n    // Will setting\n    \"willTopic\": `users/${USERNAME}/${CID}/error`,\n    \"willQos\": \"1\",\n    \"willRetain\": \"true\",\n    \"willPayload\": `Device disconnected unexpectedly`,\n};\n\nmsg.broker = setting;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "ffa0b5bfa42784ac",
                "b69bf2987c251cb0"
            ]
        ]
    },
    {
        "id": "b69bf2987c251cb0",
        "type": "mqtt out",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "MQTTSetup",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90fcd8de4a4abf8c",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "33aae0814662b00d",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "Setup MQTT",
        "info": "",
        "x": 110,
        "y": 440,
        "wires": []
    },
    {
        "id": "fc4bc15fd7dd1843",
        "type": "mqtt in",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "90fcd8de4a4abf8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 660,
        "wires": [
            [
                "84d325e4c37e0885"
            ]
        ]
    },
    {
        "id": "96e6dc441ab89d4e",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "DynSubscribe",
        "func": "msg.action = \"subscribe\";\nmsg.topic = `users/${global.get('settings').mqttUname}/${global.get('settings').mqttCid}/action/#`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 660,
        "wires": [
            [
                "fc4bc15fd7dd1843"
            ]
        ]
    },
    {
        "id": "84d325e4c37e0885",
        "type": "link out",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Action MSG Event Out",
        "mode": "link",
        "links": [
            "978d79f8a54ee091"
        ],
        "x": 695,
        "y": 660,
        "wires": []
    },
    {
        "id": "5203081cfa4cf947",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Action MSG Event Out",
        "info": "",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "7e1d4e1bf22a9228",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Subscribe Action",
        "info": "",
        "x": 120,
        "y": 620,
        "wires": []
    },
    {
        "id": "6f8bc5993aec1aca",
        "type": "file in",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "",
        "filename": ".node-red/settings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "1488f86cd1caf9fe"
            ]
        ]
    },
    {
        "id": "1488f86cd1caf9fe",
        "type": "json",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "1572d0374092139d"
            ]
        ]
    },
    {
        "id": "1572d0374092139d",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "LoadSettings",
        "func": "global.set('settings', msg.payload);\n\nif (!global.get('settings').mqttCid\n    && global.get('http-host')\n    && global.get('http-port')\n    && global.get('settings').deviceName\n    && global.get('settings').deviceType) {\n    \n    msg.method = \"POST\";\n    msg.url = `https://${global.get('http-host')}:${global.get('http-port')}/device/${encodeURIComponent(global.get('settings').deviceName)}/${global.get('settings').deviceType}`;\n    msg.headers = {\n        authorization: \"Bearer \" + global.get('settings').httpToken,\n    };\n\n    return [null, msg];\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "0d9585d6a791bdec"
            ],
            [
                "ae41f3f0d2d31239"
            ]
        ]
    },
    {
        "id": "ab27628acf8c6210",
        "type": "file",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "",
        "filename": ".node-red/settings.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "0d9585d6a791bdec"
            ]
        ]
    },
    {
        "id": "0b4e75eb8ac57b19",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "LoadSettings",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d7a2df0a47d38ea",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "RegisterCID",
        "info": "",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "0d9585d6a791bdec",
        "type": "link out",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "Setting Loaded Event Out",
        "mode": "link",
        "links": [
            "93aafe4af9d32c6a",
            "176d24bc1a7bf1de"
        ],
        "x": 865,
        "y": 120,
        "wires": []
    },
    {
        "id": "0cf98de83a07c843",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "Setting Loaded Event Out",
        "info": "",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "93aafe4af9d32c6a",
        "type": "link in",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "Setting Loaded Event Listener",
        "links": [
            "0d9585d6a791bdec"
        ],
        "x": 295,
        "y": 480,
        "wires": [
            [
                "8183d1226cb9d013"
            ]
        ]
    },
    {
        "id": "c9cda38b79826fa8",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "Setting Loaded Event Listener",
        "info": "",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "176d24bc1a7bf1de",
        "type": "link in",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Setting Loaded Event Listener",
        "links": [
            "0d9585d6a791bdec"
        ],
        "x": 295,
        "y": 660,
        "wires": [
            [
                "96e6dc441ab89d4e"
            ]
        ]
    },
    {
        "id": "a74b93f6136d6543",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Setting Loaded Event Listener",
        "info": "",
        "x": 160,
        "y": 660,
        "wires": []
    },
    {
        "id": "cfc29aa6332ee951",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "90fcd8de4a4abf8c",
        "type": "mqtt-broker",
        "name": "Platform Server",
        "broker": "petificationblue.ddns.net",
        "port": "8883",
        "tls": "cfc29aa6332ee951",
        "clientid": "unused",
        "autoConnect": false,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]