NodeRED/flows.json
[
    {
        "id": "1549c8010dfcd079",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fabd971393b8dcec",
        "type": "group",
        "z": "1549c8010dfcd079",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "44c53352041184d0",
            "9056e8f911ae5bf5",
            "88f52463bfa7440d",
            "8c4de33649991db9",
            "04a4117bab063133",
            "ade4f64e2af94b02",
            "4a09b3b8316012c7"
        ],
        "x": 34,
        "y": 19,
        "w": 772,
        "h": 322
    },
    {
        "id": "6c9c27cd818b31d9",
        "type": "group",
        "z": "1549c8010dfcd079",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9bd27b21e3bcfa15",
            "9e344bb29a3015bd",
            "59ba8900f8e6cb2c",
            "f85036e9a20687e5",
            "0e23ffa4e5d57441"
        ],
        "x": 34,
        "y": 359,
        "w": 592,
        "h": 162
    },
    {
        "id": "7bd713a06d7f8813",
        "type": "group",
        "z": "1549c8010dfcd079",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1612ba83c48243be",
            "589f5f324322e5f3",
            "20739795f61ecd81",
            "e9327013460ddb85",
            "470fcc6957b18726"
        ],
        "x": 34,
        "y": 539,
        "w": 632,
        "h": 242
    },
    {
        "id": "e3075d1d0e2c84a5",
        "type": "group",
        "z": "1549c8010dfcd079",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "67d0998e32d1e876",
            "7784be1a1914ce50",
            "99e20c1cf5082eb1",
            "e0eb4acd7c5094aa",
            "f227bd83f96b3295",
            "e8d8d7ee5ad51579"
        ],
        "x": 34,
        "y": 799,
        "w": 812,
        "h": 122
    },
    {
        "id": "cfc29aa6332ee951",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "90fcd8de4a4abf8c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "8883",
        "tls": "cfc29aa6332ee951",
        "clientid": "unused",
        "autoConnect": false,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "aloha",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "aloha baby",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "44c53352041184d0",
        "type": "inject",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "ade4f64e2af94b02"
            ]
        ]
    },
    {
        "id": "9056e8f911ae5bf5",
        "type": "http request",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "cfc29aa6332ee951",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "88f52463bfa7440d"
            ]
        ]
    },
    {
        "id": "9bd27b21e3bcfa15",
        "type": "debug",
        "z": "1549c8010dfcd079",
        "g": "6c9c27cd818b31d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "broker",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "9e344bb29a3015bd",
        "type": "function",
        "z": "1549c8010dfcd079",
        "g": "6c9c27cd818b31d9",
        "name": "ConnectMQTT",
        "func": "msg.action = \"connect\";\n\nconst CID = flow.get('mqtt-cid');\nconst USERNAME = flow.get('mqtt-uname');\n\nconst setting = {\n    \n    // Basic host setting\n    \"broker\": flow.get('mqtt-broker'),\n    \"port\": flow.get('mqtt-port'),\n    \"clientid\": CID,\n    \n    // Boolean setting\n    \"force\": true,\n    \n    // Birth setting\n    \"birthTopic\": `users/${USERNAME}/${CID}/conn`,\n    \"birthQos\": \"1\",\n    \"birthRetain\": \"true\",\n    \"birthPayload\": `Device connected`,\n    \n    // Close setting\n    \"closeTopic\": `users/${USERNAME}/${CID}/disconn`,\n    \"closeQos\": \"1\",\n    \"closeRetain\": \"true\",\n    \"closePayload\": `Device disconnected`,\n\n    // Will setting\n    \"willTopic\": `users/${USERNAME}/${CID}/error`,\n    \"willQos\": \"1\",\n    \"willRetain\": \"true\",\n    \"willPayload\": `Device disconnected unexpectedly`,\n};\n\nmsg.broker = setting;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "59ba8900f8e6cb2c",
                "9bd27b21e3bcfa15"
            ]
        ]
    },
    {
        "id": "59ba8900f8e6cb2c",
        "type": "mqtt out",
        "z": "1549c8010dfcd079",
        "g": "6c9c27cd818b31d9",
        "name": "MQTTSetup",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90fcd8de4a4abf8c",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "88f52463bfa7440d",
        "type": "function",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "SaveCid",
        "func": "const cid = JSON.parse(msg.payload).uuid;\n\nmsg.settings['mqtt-cid'] = cid;\nflow.set('mqtt-cid', cid);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "8c4de33649991db9"
            ]
        ]
    },
    {
        "id": "8c4de33649991db9",
        "type": "debug",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "ShowSettings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "settings",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "f85036e9a20687e5",
        "type": "complete",
        "z": "1549c8010dfcd079",
        "g": "6c9c27cd818b31d9",
        "name": "",
        "scope": [
            "8c4de33649991db9"
        ],
        "uncaught": false,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "9e344bb29a3015bd"
            ]
        ]
    },
    {
        "id": "04a4117bab063133",
        "type": "function",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "LoadSettings",
        "func": "msg.settings = JSON.parse(msg.payload)\n\nif (msg.settings['http-host']\n    || msg.settings['http-port']\n    || msg.settings['device-name']\n    || msg.settings['device-type']) {\n\n        for(let prop in msg.settings) {\n            flow.set(prop, msg.settings[prop]);\n        }\n\n        msg.method = \"POST\";\n        msg.url = `https://${msg.settings['http-host']}:${msg.settings['http-port']}/device/${msg.settings['device-name']}/${msg.settings['device-type']}`;\n\n        node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "9056e8f911ae5bf5"
            ]
        ]
    },
    {
        "id": "ade4f64e2af94b02",
        "type": "file in",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "",
        "filename": ".node-red/settings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "04a4117bab063133"
            ]
        ]
    },
    {
        "id": "4a09b3b8316012c7",
        "type": "comment",
        "z": "1549c8010dfcd079",
        "g": "fabd971393b8dcec",
        "name": "Load Local Settings",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "0e23ffa4e5d57441",
        "type": "comment",
        "z": "1549c8010dfcd079",
        "g": "6c9c27cd818b31d9",
        "name": "Setup MQTT",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "1612ba83c48243be",
        "type": "inject",
        "z": "1549c8010dfcd079",
        "g": "7bd713a06d7f8813",
        "name": "Every10Sec",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "589f5f324322e5f3"
            ]
        ]
    },
    {
        "id": "589f5f324322e5f3",
        "type": "link call",
        "z": "1549c8010dfcd079",
        "g": "7bd713a06d7f8813",
        "name": "TODO: Load Cell Measurement",
        "links": [],
        "timeout": "30",
        "x": 310,
        "y": 660,
        "wires": [
            [
                "20739795f61ecd81"
            ]
        ]
    },
    {
        "id": "20739795f61ecd81",
        "type": "function",
        "z": "1549c8010dfcd079",
        "g": "7bd713a06d7f8813",
        "name": "PrepareMQTTMSG",
        "func": "const uname = flow.get('mqtt-uname');\nconst cid = flow.get('mqtt-cid');\nconst stopic = flow.get('scale-topic');\n\nmsg.topic = `users/${uname}/${cid}/scale/${stopic}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 700,
        "wires": [
            [
                "e9327013460ddb85"
            ]
        ]
    },
    {
        "id": "e9327013460ddb85",
        "type": "mqtt out",
        "z": "1549c8010dfcd079",
        "g": "7bd713a06d7f8813",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90fcd8de4a4abf8c",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "470fcc6957b18726",
        "type": "comment",
        "z": "1549c8010dfcd079",
        "g": "7bd713a06d7f8813",
        "name": "Publish Scale",
        "info": "",
        "x": 130,
        "y": 580,
        "wires": []
    },
    {
        "id": "67d0998e32d1e876",
        "type": "mqtt in",
        "z": "1549c8010dfcd079",
        "g": "e3075d1d0e2c84a5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "90fcd8de4a4abf8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "e0eb4acd7c5094aa"
            ]
        ]
    },
    {
        "id": "7784be1a1914ce50",
        "type": "complete",
        "z": "1549c8010dfcd079",
        "g": "e3075d1d0e2c84a5",
        "name": "",
        "scope": [
            "59ba8900f8e6cb2c"
        ],
        "uncaught": false,
        "x": 130,
        "y": 880,
        "wires": [
            [
                "99e20c1cf5082eb1"
            ]
        ]
    },
    {
        "id": "99e20c1cf5082eb1",
        "type": "function",
        "z": "1549c8010dfcd079",
        "g": "e3075d1d0e2c84a5",
        "name": "DynSubscribe",
        "func": "const uname = flow.get('mqtt-uname');\nconst cid = flow.get('mqtt-cid');\n\nmsg.action = \"subscribe\";\nmsg.topic = `users/${uname}/${cid}/action/#`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            [
                "67d0998e32d1e876"
            ]
        ]
    },
    {
        "id": "e0eb4acd7c5094aa",
        "type": "link out",
        "z": "1549c8010dfcd079",
        "g": "e3075d1d0e2c84a5",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 595,
        "y": 880,
        "wires": []
    },
    {
        "id": "f227bd83f96b3295",
        "type": "comment",
        "z": "1549c8010dfcd079",
        "g": "e3075d1d0e2c84a5",
        "name": "Action MSG Event Out",
        "info": "",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "e8d8d7ee5ad51579",
        "type": "comment",
        "z": "1549c8010dfcd079",
        "g": "e3075d1d0e2c84a5",
        "name": "Subscribe Action",
        "info": "",
        "x": 140,
        "y": 840,
        "wires": []
    }
]