NodeRED/flows.water.json
[
    {
        "id": "d4e0e8c3f2521d41",
        "type": "tab",
        "label": "Common",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91b22263332ca448",
        "type": "tab",
        "label": "Water Dispenser",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1bf684b2f6f5c1b",
        "type": "group",
        "z": "91b22263332ca448",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7003aa9fea420280",
            "b760bfd2de446b59",
            "7c31561450d0bb89",
            "20d34e7859ba7b69",
            "7a9cff848f3bf24f",
            "e3fd7a36b92f18af",
            "b5775117f0651db2",
            "c580ade28bb5da35",
            "7a9cff848f3bf24f",
            "e3fd7a36b92f18af",
            "3b9e16d644848de9"
        ],
        "x": 74,
        "y": 59,
        "w": 1052,
        "h": 202
    },
    {
        "id": "5a5bfae5139cedd9",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6f8bc5993aec1aca",
            "1488f86cd1caf9fe",
            "1572d0374092139d",
            "0b4e75eb8ac57b19"
        ],
        "x": 194,
        "y": 99,
        "w": 592,
        "h": 122
    },
    {
        "id": "ba76672f0e3813ee",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae41f3f0d2d31239",
            "1ff76b2608973970",
            "ab27628acf8c6210",
            "2d7a2df0a47d38ea"
        ],
        "x": 194,
        "y": 239,
        "w": 612,
        "h": 122
    },
    {
        "id": "8c568f69d68b58f4",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32fc017627949b6b",
            "cd086bb42fc9cb71",
            "0d9585d6a791bdec",
            "0cf98de83a07c843",
            "5a5bfae5139cedd9",
            "ba76672f0e3813ee"
        ],
        "x": 14,
        "y": 19,
        "w": 1122,
        "h": 368
    },
    {
        "id": "10467d58cb5fe3da",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ffa0b5bfa42784ac",
            "8183d1226cb9d013",
            "b69bf2987c251cb0",
            "33aae0814662b00d",
            "93aafe4af9d32c6a",
            "c9cda38b79826fa8"
        ],
        "x": 14,
        "y": 399,
        "w": 712,
        "h": 162
    },
    {
        "id": "25b15aabc362426e",
        "type": "group",
        "z": "d4e0e8c3f2521d41",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fc4bc15fd7dd1843",
            "96e6dc441ab89d4e",
            "84d325e4c37e0885",
            "5203081cfa4cf947",
            "7e1d4e1bf22a9228",
            "176d24bc1a7bf1de",
            "a74b93f6136d6543"
        ],
        "x": 14,
        "y": 579,
        "w": 932,
        "h": 122
    },
    {
        "id": "cfc29aa6332ee951",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "90fcd8de4a4abf8c",
        "type": "mqtt-broker",
        "name": "Platform Server",
        "broker": "petificationblue.ddns.net",
        "port": "8883",
        "tls": "cfc29aa6332ee951",
        "clientid": "unused",
        "autoConnect": false,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bb3577c685921764",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4fe2024624072970",
        "type": "ui_tab",
        "name": "Water",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7313086e394abe73",
        "type": "ui_group",
        "name": "Dispenser",
        "tab": "4fe2024624072970",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32fc017627949b6b",
        "type": "inject",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "6f8bc5993aec1aca"
            ]
        ]
    },
    {
        "id": "ae41f3f0d2d31239",
        "type": "http request",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "cfc29aa6332ee951",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "1ff76b2608973970"
            ]
        ]
    },
    {
        "id": "1ff76b2608973970",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "SaveCid",
        "func": "const settings = global.get('settings');\nsettings.mqttCid = JSON.parse(msg.payload).uuid;\nglobal.set('settings', settings);\nmsg.payload = settings;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "ab27628acf8c6210"
            ]
        ]
    },
    {
        "id": "cd086bb42fc9cb71",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "Load Local Settings",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "ffa0b5bfa42784ac",
        "type": "debug",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "broker",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "8183d1226cb9d013",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "ConnectMQTT",
        "func": "msg.action = \"connect\";\n\nconst CID = global.get('settings').mqttCid;\nconst USERNAME = global.get('settings').mqttUname;\n\nconst setting = {\n    \n    // Basic host setting\n    \"broker\": global.get('mqtt-broker'),\n    \"port\": global.get('mqtt-port'),\n    \"clientid\": CID,\n    \n    // Boolean setting\n    \"force\": true,\n    \n    // Birth setting\n    \"birthTopic\": `users/${USERNAME}/${CID}/conn`,\n    \"birthQos\": \"1\",\n    \"birthRetain\": \"true\",\n    \"birthPayload\": `Device connected`,\n    \n    // Close setting\n    \"closeTopic\": `users/${USERNAME}/${CID}/disconn`,\n    \"closeQos\": \"1\",\n    \"closeRetain\": \"true\",\n    \"closePayload\": `Device disconnected`,\n\n    // Will setting\n    \"willTopic\": `users/${USERNAME}/${CID}/error`,\n    \"willQos\": \"1\",\n    \"willRetain\": \"true\",\n    \"willPayload\": `Device disconnected unexpectedly`,\n};\n\nmsg.broker = setting;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "ffa0b5bfa42784ac",
                "b69bf2987c251cb0"
            ]
        ]
    },
    {
        "id": "b69bf2987c251cb0",
        "type": "mqtt out",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "MQTTSetup",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90fcd8de4a4abf8c",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "33aae0814662b00d",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "Setup MQTT",
        "info": "",
        "x": 110,
        "y": 440,
        "wires": []
    },
    {
        "id": "fc4bc15fd7dd1843",
        "type": "mqtt in",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "90fcd8de4a4abf8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 660,
        "wires": [
            [
                "84d325e4c37e0885"
            ]
        ]
    },
    {
        "id": "96e6dc441ab89d4e",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "DynSubscribe",
        "func": "msg.action = \"subscribe\";\nmsg.topic = `users/${global.get('settings').mqttUname}/${global.get('settings').mqttCid}/action/#`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 660,
        "wires": [
            [
                "fc4bc15fd7dd1843"
            ]
        ]
    },
    {
        "id": "84d325e4c37e0885",
        "type": "link out",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Action MSG Event Out",
        "mode": "link",
        "links": [
            "978d79f8a54ee091"
        ],
        "x": 695,
        "y": 660,
        "wires": []
    },
    {
        "id": "5203081cfa4cf947",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Action MSG Event Out",
        "info": "",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "7e1d4e1bf22a9228",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Subscribe Action",
        "info": "",
        "x": 120,
        "y": 620,
        "wires": []
    },
    {
        "id": "6f8bc5993aec1aca",
        "type": "file in",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "",
        "filename": ".node-red/settings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "1488f86cd1caf9fe"
            ]
        ]
    },
    {
        "id": "1488f86cd1caf9fe",
        "type": "json",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "1572d0374092139d"
            ]
        ]
    },
    {
        "id": "1572d0374092139d",
        "type": "function",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "LoadSettings",
        "func": "global.set('settings', msg.payload);\n\nif (!global.get('settings').mqttCid\n    && global.get('http-host')\n    && global.get('http-port')\n    && global.get('settings').deviceName\n    && global.get('settings').deviceType) {\n    \n    msg.method = \"POST\";\n    msg.url = `https://${global.get('http-host')}:${global.get('http-port')}/device/${encodeURIComponent(global.get('settings').deviceName)}/${global.get('settings').deviceType}`;\n    msg.headers = {\n        authorization: \"Bearer \" + global.get('settings').httpToken,\n    };\n\n    return [null, msg];\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "0d9585d6a791bdec"
            ],
            [
                "ae41f3f0d2d31239"
            ]
        ]
    },
    {
        "id": "ab27628acf8c6210",
        "type": "file",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "",
        "filename": ".node-red/settings.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "0d9585d6a791bdec"
            ]
        ]
    },
    {
        "id": "0b4e75eb8ac57b19",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "5a5bfae5139cedd9",
        "name": "LoadSettings",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d7a2df0a47d38ea",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "ba76672f0e3813ee",
        "name": "RegisterCID",
        "info": "",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "0d9585d6a791bdec",
        "type": "link out",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "Setting Loaded Event Out",
        "mode": "link",
        "links": [
            "93aafe4af9d32c6a",
            "176d24bc1a7bf1de"
        ],
        "x": 865,
        "y": 120,
        "wires": []
    },
    {
        "id": "0cf98de83a07c843",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "8c568f69d68b58f4",
        "name": "Setting Loaded Event Out",
        "info": "",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "93aafe4af9d32c6a",
        "type": "link in",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "Setting Loaded Event Listener",
        "links": [
            "0d9585d6a791bdec"
        ],
        "x": 295,
        "y": 480,
        "wires": [
            [
                "8183d1226cb9d013"
            ]
        ]
    },
    {
        "id": "c9cda38b79826fa8",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "10467d58cb5fe3da",
        "name": "Setting Loaded Event Listener",
        "info": "",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "176d24bc1a7bf1de",
        "type": "link in",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Setting Loaded Event Listener",
        "links": [
            "0d9585d6a791bdec"
        ],
        "x": 295,
        "y": 660,
        "wires": [
            [
                "96e6dc441ab89d4e"
            ]
        ]
    },
    {
        "id": "a74b93f6136d6543",
        "type": "comment",
        "z": "d4e0e8c3f2521d41",
        "g": "25b15aabc362426e",
        "name": "Setting Loaded Event Listener",
        "info": "",
        "x": 160,
        "y": 660,
        "wires": []
    },
    {
        "id": "7003aa9fea420280",
        "type": "inject",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "b760bfd2de446b59"
            ]
        ]
    },
    {
        "id": "b760bfd2de446b59",
        "type": "function",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "",
        "func": "var count = flow.get('count')||0;\nflow.set('count', count);\nvar newMsg = {payload: \"python -u /home/pi/Dashboard/user/hx711py/water.py\"};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "7c31561450d0bb89"
            ]
        ]
    },
    {
        "id": "7c31561450d0bb89",
        "type": "exec",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "20d34e7859ba7b69"
            ],
            [],
            []
        ]
    },
    {
        "id": "20d34e7859ba7b69",
        "type": "smooth",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "",
        "property": "payload",
        "action": "max",
        "count": "2",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 620,
        "y": 160,
        "wires": [
            [
                "b5775117f0651db2"
            ]
        ]
    },
    {
        "id": "b5775117f0651db2",
        "type": "function",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "PrepareMQTTMSG",
        "func": "msg.topic = `users/${global.get('settings').mqttUname}/${global.get('settings').mqttCid}/scale/water`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 160,
        "wires": [
            [
                "7a9cff848f3bf24f",
                "e3fd7a36b92f18af",
                "3b9e16d644848de9"
            ]
        ]
    },
    {
        "id": "c580ade28bb5da35",
        "type": "comment",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "Water Scale ",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "7a9cff848f3bf24f",
        "type": "ui_text",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "group": "7313086e394abe73",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water",
        "format": "{{msg.payload}} g",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "e3fd7a36b92f18af",
        "type": "ui_gauge",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "",
        "group": "7313086e394abe73",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Water Gauge",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "3750",
        "colors": [
            "#cd7a7e",
            "#d4d468",
            "#92d978"
        ],
        "seg1": "200",
        "seg2": "500",
        "className": "",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b9e16d644848de9",
        "type": "mqtt out",
        "z": "91b22263332ca448",
        "g": "a1bf684b2f6f5c1b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90fcd8de4a4abf8c",
        "x": 1030,
        "y": 100,
        "wires": []
    }
]